*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body{
    display: flex;
    justify-content: center;
    /* align-items: center; */

    width: 100%;
    height: 100vh;
    background: linear-gradient(to right,rgba(255, 0, 0, 0.244),rgba(222, 193, 7, 0.325)), url(./pictures/welcome.jpg);
    background-repeat: no-repeat;
    background-size: 100% 120%;
    background-position: top;
}

#logoTittle{
    font-family: 'Oleo Script', cursive;
    color: antiquewhite;
    letter-spacing: .4rem;
}